* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' , sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header {
    background-color: #222831;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;

}

header .list-itens {
    display: flex;
    align-items: center;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}

.list-itens li a {
    color: #FD7014;
}

header .menu {
    justify-content: space-between;
}

/* Banne apresentação */

.presentation {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.presentation .text-presentation {
    min-height: 200px;
    width: 100%;
}

.text-presentation h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #FD7014;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Quem somos */

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

#quem-somos h2{
    font-size: 40px;
    color: #FD7014;
    display: flex;
    margin-bottom: 30px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 3px;
    margin-right: 5px;
    background-color: #FD7014;
    position: relative;
}

#quem-somos p {
    margin-bottom: 20px;
    width: 90%;
}

#quem-somos img{
    min-height: 420px;
}

/* container serviço*/
.container-externo {
    background-color: #222831;
    width: 100%;
}

/* Serviços */

#servicos {
    flex-direction: column;   
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #FD7014;
    font-size: 30px;
    margin-bottom: 40px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-service {
    text-align: center;
}

.item-service a{
    width: 200px;
    background-color: #FD7014;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #EEEEEE;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}

.item-service p {
    font-weight: 700;
    font-size: 18px;
    color: #EEEEEE;
    margin-top: 20px;
}

.item-service img {
    width: 80%;
    margin: auto;
}

/* planos */ 

#planos {
    flex-direction: column;
    min-width: 100vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
    color: #FD7014;
}

.lista-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 100px;
}

.item-plano {
    flex: 1;
    border: 5px solid #222831;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item-plano h3::after {
    content: "";
    background-color: #222831;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #222831;
    margin-right: 5px;
}

footer {
    background-color: #222831;
    height: 70px;
    display: flex;
    align-items: center;
    
}

footer .footer {
    justify-content: space-between;
    color: #EEEEEE;
}
